* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    background-color: rgb(56, 54, 54);
}

header {
    background-color: black;
    color: white;
    height: 80px;
    z-index: 100;
    position: fixed;
    width: 100%;
}


.nav_flex_components {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 80px;    
}

#section-a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding-left: 20px;
}

#section-b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#section-c {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    float: right;
    padding-left: 200px;
}

#section-c > li > a > img {
    height: 40px;
}


li {
    list-style: none;
}

li > a {
    text-decoration: none;
    color: rgb(240, 219, 219);
    list-style: none;
}
li > a:hover {
    text-decoration: underline;
    color: rgb(253, 155, 7);
    transition: all 0.3s ease;
    
}

#logo {
    height: 60px;
    border-radius: 50%;
}

main {
    background-color: rgb(235, 227, 227);
    height: 100vh;
    padding-bottom: 20px;
}
#main_section_a {
    height: 100%;
    
}

#main_section_b {
    height: 500px;
    margin-top: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

#main_section_c {
    height: 100%;
    margin-top: 20px;
    background-image: url(../images/pexels-lukas-574077.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: contain;
}

#sect_b_container {
    border-radius: 10px;
    margin: 50px;
    padding-top: 30px;
    background-color: blue;
    height: 90%;
    text-align: center;   
}

#sect_b_content {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    color: rgb(253, 155, 7);
}



#sect_b_content > p{
    margin-top: 50px;
    font-size: 20px;
    color: white;
}

#sect_d_content {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

#sections_component_container {
    height: 100%;
}

.my_info {
    width: 50%;
    height: 100%;
    display: inline-block;
}
.my_image {
    width: 50%;
    height: 100%;
    display: inline-block;
    float: right;
    object-fit: cover;
    height: 100%;
}

.my_image >  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 12px;
}

#same_font {
    margin-top: 30%;
    font-size: 80px;
    padding-left: 20px;
    color: rgb(253, 155, 7);
}

#same_font2 {
    font-size: 50px;
    padding-left: 20px;
}

#same_font3 {
    font-size: 25px;
    padding-left: 20px;
    margin-top: 50px;
    padding-right: 15px;
    color: rgb(78, 78, 78);
}

#card_1 {
    width: 100%;
    background-color: white;
    border-radius: 15px;
}
#card_2 {
    width: 50%;
    background-color: white;
}

.layer_one{
    width: 45%;
    display: inline-block;
    margin-bottom: 20px;
    padding-right: 20px;
}

.projects_img {
    width: 100%;
    border-radius: 15px;
}

.form_container {
    width: 100%;
    padding-bottom: 30px;
    display: flex;
}
.form_container > #form_1 > input {
    width: 80%;
    height: 50px;
    margin-bottom: 5px;
}
.form_container > #form_2 > input {
    width: 100%;
    height: 100%;
    margin-bottom: 5px;
    padding-top: 0;
}

#form_2 {
    width: 50%;
}

footer {
    height: 500px;
}